@import 'bootstrap_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Assistant:400,800&display=swap');
@import '~bootstrap/scss/bootstrap.scss';

h1, h2, h3, .lead {
  text-transform: uppercase;
}

h1 {
  line-height: 2.3rem;
}

h2 {
  line-height: 1rem;
  margin-bottom: 1.5rem;

  .icon {
    margin-left: -0.4rem;
    margin-right: 0.7rem;
    font-size: 1.1rem;
  }
}

h3, .lead {
  line-height: 1.1rem;
}

ul {
  padding-left: 1rem;
}

.btn{
  border: 1px solid silver;

  &.btn-link {
    border: 0;
  }
}

.header {
  margin-bottom: 1.5rem;
  padding-left: 1.3rem;

  @include media-breakpoint-up(lg) {
    padding-left: 0;
  }

  .image-holder {
    display: block;
    max-width: 115px;
  }
}

.contact {
  display: inline-block;
  padding: 1px;
  width: 25px;
  height:25px;
  margin-left: 5px;
}

.sidebar-start {
  margin-top: 3.05rem;
  padding-left: 4rem;
}

.content {
  padding-left: 20px;

  @include media-breakpoint-up(lg) {
    max-width: 80%;
  }
}

.isaboveviewport {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;

  .isinviewport {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }
}

.isbelowviewport {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

@media print {
  .isbelowviewport {
    opacity: 1;
  }
}

.isinviewport {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;

  &.isaboveviewport {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }
}

.isfullyinviewport {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.job {

  .heading {

    .circle {
      display: inline-block;
      width: 0.9rem;
      height: 0.9rem;
      border: 3px solid #000;
      border-radius: 50%;
      margin-left: -1.8rem;
      margin-right: 0.8rem;
      background-color: #fff;
    }

    svg {
      background-color: #fff;
      margin-left: -2rem;
    }
  }
}
