<template>
  <div class="job">
    <div class="content border-left pb-2">
      <div class="heading d-flex align-items-center">
        <div class="circle"></div>
        <!--<font-awesome-icon :icon="['far', 'circle']" />-->
        <div class="d-inline periode">{{ periode }}</div>
      </div>
      <h3>{{ job }}</h3>
      <h3 class="font-weight-normal">{{ company }}</h3>
      <ul>
        <li v-for="(item, index) in experience" :key="index">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    periode: {
      type: String,
      default: null
    },
    job: {
      type: String,
      default: null
    },
    company: {
      type: String,
      default: null
    },
    experience: {
      type: Array,
      default: null
    }
  }
}
</script>
